/* * This is a css file
* CSS - Cascading Style Sheets
* Let's do something to show css works
*/

/* * The tag name like h1,a,br is needed to style them using CSS */

/* ! Color Attribute */

/* * Assigns colour to the text available */

/* ! Background-Color Attribute */

/* * Assigns only colour to the background of the given text block */

/* ! Different ways of using colours in CSS */

/* ! RGB(redvalue, greenvalue, bluevalue) */

/* * There are 140 named colours, which are very limited */

/* * To access other colours we use rgb(redvalue, greenvalue, bluevalue) */

/* * Each value can go b/w 0-255 both inclusive */

/* * This helps to tune which colour we want specifically */

/* * We can the values for the colour we want using colour picker/pallettes online */

/* * It's an additive colour system */

h1{
    color: aqua;
    background-color: rgb(0, 0, 0); /* * This gives us black */
}

/* *  We see that all the h1 tags turn to aqua, that means our css is linked! */

button{
    color: magenta; /* * The text in the button changes the colours*/
}

