/* * This is a css file
* CSS - Cascading Style Sheets
* Let's do something to show css works
*/

/* * The tag name like h1,a,br is needed to style them using CSS */

/* ! Color Attribute */

/* * Assigns colour to the text available */

/* ! Background-Color Attribute */

/* * Assigns only colour to the background of the given text block */

h1{
    color: aqua;
    background-color: black;
}

/* *  We see that all the h1 tags turn to aqua, that means our css is linked! */

button{
    color: magenta; /* * The text in the button changes the colours*/
}

